<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b485ba">  <td>22/11/13 11:02:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoneyTest.constructorShouldSetAmountAndCurrency()[pri:0, instance:com.learning.morningClass.model.MoneyTest@fdefd3f]">constructorShouldSetAmountAndCurrency</td> 
  <td>main@1997963191</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>22/11/13 11:02:12</td>   <td>108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoneyTest.constructorShouldSetAmountAndCurrency_dataprovider(int, java.lang.String)[pri:0, instance:com.learning.morningClass.model.MoneyTest@fdefd3f]">constructorShouldSetAmountAndCurrency_dataprovider</td> 
  <td>main@1997963191</td>   <td></td> </tr>
<tr bgcolor="b485ba">  <td>22/11/13 11:02:12</td>   <td>119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MoneyTest.constructorShouldSetAmountAndCurrency_dataprovider(int, java.lang.String)[pri:0, instance:com.learning.morningClass.model.MoneyTest@fdefd3f]">constructorShouldSetAmountAndCurrency_dataprovider</td> 
  <td>main@1997963191</td>   <td></td> </tr>
</table>
